# Python cache
*.pyc
__pycache__/

# IDE settings
.idea/

# JSON data
students.json

# Other folders you don’t want
migrations/
instance/

# Config and build files
requirements.txt
Procfile
.python-version
